<%- include('../layout/head') %>
<body> 
  <!-- left opening body tag in here in case I need to put an id for background photos to specific pages, closing body tag still in the footer partial -->
  
  <%- include('../layout/header') %>

  <% mainviewObj.events.forEach(event => { %>
    <div id="<%- event.id %>"> 
        <%- event.icon %> , <%- event.formattedloc %> , <%- event.time %>
    </div>
<% }) %>

<form action="/addEvent" method="post" id="addEventForm">
    <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
    <button type="submit">Add a new Event</button>
  </form>

  <form action="/mainview" method="post" id="submit">
    <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
    <input type="hidden" name="startingDate" value="<%- mainviewObj.ahead7 %>">
    <p><button type="submit">Jump ahead 1 week</button>
  </form>

  <form action="/mainview" method="post" id="submit">
    <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
    <input type="hidden" name="startingDate" value="<%- mainviewObj.back7 %>">
    <p><button type="submit">Jump back 1 week</button>
  </form>

  
  today
  <%- mainviewObj.startingDate.toLocaleDateString() %>

  7 in the future
  <%- new Date(mainviewObj.startingDate.getFullYear(), mainviewObj.startingDate.getMonth(), mainviewObj.startingDate.getDate() + 7).toLocaleDateString() %>

  <%- include('../layout/footer') %>
