<% mainviewObj.events.forEach(event => { %>
    <div id="<%- event.id %>"> 
        <%- event.icon %> , <%- event.formattedloc %> , <%- new Date(event.time * 1000).toDateString() %>
    </div>
<% }) %>

<form action="/addEvent" method="post" id="addEventForm">
    <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
    <button type="submit">Add a new Event</button>
  </form>