<%- include('../layout/head') %>
<body> 
  <!-- left opening body tag in here in case I need to put an id for background photos to specific pages, closing body tag still in the footer partial -->
  
  <%- include('../layout/header') %>

<div id="location"><br>location: <%- indexObj.formattedLoc %></div>
<div id="time"><br>time: <%- new Date(indexObj.time * 1000).toDateString().split(' ').slice(0,4).join(' ') %></div>
<div id="summary"><br>summary: <%- indexObj.summary %>,</div>
<div id="icon"><br>icon: <%- indexObj.icon %>,</div>
<div id="sunriseTime"><br>sunriseTime: <%- new Date(indexObj.sunriseTime * 1000).toLocaleTimeString() %>, </div>
<div id="sunsetTime"><br>sunsetTime: <%-  new Date(indexObj.sunsetTime * 1000).toLocaleTimeString()%>,</div>
<div id="moonPhase"><br>moonPhase: <%- indexObj.moonPhase %>,</div>
<div id="precipIntensity"><br>precipIntensity: <%- indexObj.precipIntensity %>,</div>
<div id="precipIntensityMax"><br>precipIntensityMax: <%- indexObj.precipIntensityMax %>,</div>
<div id="precipProbability"><br>precipProbability: <%- indexObj.precipProbability %>,</div>
<div id="temperatureHigh"><br>temperatureHigh: <%- indexObj.temperatureHigh %>,</div>
<div id="temperatureHighTime"><br>temperatureHighTime: <%- new Date(indexObj.temperatureHighTime * 1000).toLocaleTimeString() %>,</div>
<div id="temperatureLow"><br>temperatureLow: <%- indexObj.temperatureLow %>,</div>
<div id="temperatureLowTime"><br>temperatureLowTime: <%- new Date(indexObj.temperatureLowTime * 1000).toLocaleTimeString() %>, </div>
<div id="apparentTemperatureHigh"><br>apparentTemperatureHigh: <%- indexObj.apparentTemperatureHigh %>,</div>
<div id="apparentTemperatureHighTime"><br>apparentTemperatureHighTime: <%- new Date(indexObj.apparentTemperatureHighTime * 1000).toLocaleTimeString() %>,</div>
<div id="apparentTemperatureLow"><br>apparentTemperatureLow: <%- indexObj.apparentTemperatureLow %>,</div>
<div id="apparentTemperatureLowTime"><br>apparentTemperatureLowTime: <%- new Date(indexObj.apparentTemperatureLowTime * 1000).toLocaleTimeString() %>,</div>
<div id="dewPoint"><br>dewPoint: <%- indexObj.dewPoint %>,</div>
<div id="humidity"><br>humidity: <%- Math.floor(indexObj.humidity * 100) %>,</div>
<div id="pressure"><br>pressure: <%- indexObj.pressure %>,</div>
<div id="windSpeed"><br>windSpeed: <%- indexObj.windSpeed %>,</div>
<div id="windGust"><br>windGust: <%- indexObj.windGust %>,</div>
<div id="windGustTime"><br>windGustTime: <%- new Date(indexObj.windGustTime * 1000).toLocaleTimeString() %>,</div>
<div id="windBearing"><br>windBearing: <%- indexObj.windBearing %>,</div>
<div id="cloudCover"><br>cloudCover: <%- indexObj.cloudCover %>,</div>
<div id="uvIndex"><br>uvIndex: <%- indexObj.uvIndex %>,</div>
<div id="uvIndexTime"><br>uvIndexTime: <%- new Date(indexObj.uvIndexTime * 1000).toLocaleTimeString() %>,</div>
<div id="visibility"><br>visibility: <%- indexObj.visibility %>,</div>
<div id="ozone"><br>ozone: <%- indexObj.ozone %>,</div>
<div id="temperatureMin"><br>temperatureMin: <%- indexObj.temperatureMin %>,</div>
<div id="temperatureMinTime"><br>temperatureMinTime: <%- new Date(indexObj.temperatureMinTime * 1000).toLocaleTimeString() %>,</div>
<div id="temperatureMax"><br>temperatureMax: <%- indexObj.temperatureMax %>,</div>
<div id="temperatureMaxTime"><br>temperatureMaxTime: <%- new Date(indexObj.temperatureMaxTime * 1000).toLocaleTimeString() %>,</div>
<div id="apparentTemperatureMin"><br>apparentTemperatureMin: <%- indexObj.apparentTemperatureMin %>,</div>
<div id="apparentTemperatureMinTime"><br>apparentTemperatureMinTime: <%- new Date(indexObj.apparentTemperatureMinTime * 1000).toLocaleTimeString() %>,</div>
<div id="apparentTemperatureMax"><br>apparentTemperatureMax: <%- indexObj.apparentTemperatureMax %>,</div>
<div id="apparentTemperatureMaxTime"><br>apparentTemperatureMaxTime: <%- new Date(indexObj.apparentTemperatureMaxTime * 1000).toLocaleTimeString() %></div>

<%- include('../layout/footer') %>
