<%- include('../layout/head') %>
<body> 
  <!-- left opening body tag in here in case I need to put an id for background photos to specific pages, closing body tag still in the footer partial -->
  
  <%- include('../layout/header') %>

<% let keys = Object.keys(mainviewObj) %>
<% let values = Object.values(mainviewObj) %>

<% for(let i = 0; i < keys.length; i++){ %>
    <div id="<%-keys[i]%>"><br><%-keys[i]%>: <%- values[i] %></div>
<% } %>

<form action="/mainview" method="post" id="submit">
    <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
    <p><button type="submit">Back to main view</button>
  </form>

<%- include('../layout/footer') %>