
<% let keys = Object.keys(indexObj) %>
<% let values = Object.values(indexObj) %>

<% for(let i = 0; i < keys.length; i++){ %>
    <div id="<%-keys[i]%>"><br><%-keys[i]%>: <%- values[i] %></div>
<% } %>

<form action="/mainview" method="post" id="submit">
    <input type="hidden" name="userName" value="<%- indexObj.userName %>">
    <p><button type="submit">Back to main view</button>
  </form>

<footer>
    <%- include('../layout/footer') %>
</footer> 